@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Quicksand:wght@300..700&display=swap');

body {
	height: 120vh;
	margin: 0;
	background-color: rgb(20, 20, 20);
	font-family: 'Quicksand', sans-serif;
}
a {
	color: inherit;
}

.wrapper {
	display: flex;
	height: 100%;
}

#sign-up-form {
	font-size: 13px;
	font-weight: bold;
	color: #686868;
	text-transform: uppercase;
}

.left-column {
	flex-basis: 0;
	flex-grow: 1;
	position: relative;
	background-image: url('rabbit-img.jpg');
	background-size: cover;
}
.logo-wrapper {
	position: absolute;
	top: 97px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-family: 'Sriracha';
	font-size: 65px;
	font-weight: 400;
	color: #303030;
	background-color: rgb(192 192 192 / 43%);
}
#rabbit-logo {
	width: 70px;
	height: 70px;
}
.photo-credits {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 15px;
	text-align: center;
	font-size: 11px;
	color: whitesmoke;
}

.right-column {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1.5;
	background-color: rgb(236 238 241);
}
.right-column > * {
	padding: 35px;
}
.right-column-row-1 {
	flex-basis: 0;
	flex-grow: 1;
}
.form-wrapper {
	height: 275px;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.form-wrapper > h3 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 25px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.form-row-1,
.form-row-2,
.form-row-3 {
	display: flex;
	gap: 45px;
}
#pw-help-text {
	display: none;
	color: red;
}
.submit-wrapper {
	flex-basis: 0;
	flex-grow: 1;
	padding-top: 50px;
}
.submit-wrapper > button {
	height: 48px;
	width: 236px;
	border: none;
	border-radius: 9px;
	background-color: #7e7e7e;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	color: whitesmoke;
}
input {
	height: 28px;
	width: 330px;
	border: 2px solid #e4e4e4;
	border-radius: 3px;
}
input:focus {
	border: 2px solid rgb(54, 128, 255);
	outline: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.log-in-text {
	padding-top: 28px;
	font-size: 16px;
}
.invalid {
	border: 2px solid red;
}
